<p><%= @user.first_name %>,</p>

<p>You have been registered for the Angostura Extranet!</p>

<p><%= link_to "Angostura Extranet", "http://extranet.angostura.com" %></p>

<p>Your password is <%= @password %></p>
