<div class="background" id="footer_red_background">
  <div class="background" id="footer_glow_background">
         <footer>
            <div class = "footer_left"><strong>Please drink responsibly</strong></div>
            <div class = "footer_right"> Copyright Angostura &reg;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Developed by Monster Media Group</div>
         </footer>
         <div class="clear"><!-- --></div>
  </div>
</div>  
