<div class="background" id="footer_red_background">
  <div class="background" id="footer_glow_background">
         <footer>
            <div class = "footer_left"><strong>Please drink responsibly</strong></div>
            <div class = "footer_right"> Copyright Angostura &reg;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Developed by <a href="http://monstermediagroup.com" target="_blank"><img src="/images/monster-logo.png" alt="Monster Media Group" title="Monster Media Group" /></a></div>
            <div class="clear"><!-- --></div>
         </footer>
         
  </div>
</div>  
