     <div class="background" id="header_background">
        	<header class="header">
        		<div class="float_left">
                    <a href="/" class="float_left logo"><img class="float_left" src="/images/logo.png"></a>
                	<span class="float_left header_item tagline">Please Enjoy Responsibly</span>
                </div>
                <div class="float_right">
                    <form action="" method="get" class="float_left header_item search_box">
                    	<span class="input_wrapper search_wrapper">
  	                    	<input type="text" name="search">
                        </span><!-- 
                     --><span class="btn_wrapper search_btn">
	    					<button type="button">Search</button>
                        </span>
					</form>
                    <ul class="float_left header_item topnav_ul">
                        <li><a href="#">Help</a></li><!-- 
                     --><li><a href="#">Site Admin</a></li><!-- 
                     --><li><% if defined? destroy_user_session_path %>
							       <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                                                            <% else %>
                                                               <%= link_to "Logout", "/users/sign_out", :method => :delete %>
                                                            <% end %>
                        </li>
                    </ul>
                </div>
                <div class="clear"><!-- --></div>
    		</header> 
        </div><!-- #header_background -->
        
        <div class="background" id="navigation_red_background">
        <div class="background" id="navigation_glow_background">
            <nav class="navigation">
            	<ul class="float_left main_menu">
                    <li><a href="/">HOME</a></li><!-- 
                 --><li><a href="/categories/3">BRANDS</a>
                        <ul class="sub_menu">
                            <li><a href="/categories/3">Brand Education</a></li>
                            <li><a href="/categories/2">Brand Guidelines</a></li>
                            <li><a href="http://www.angostura.com/OurBusiness/History">Brand History</a></li>
                            <li><a href="/team_members">Brand Team</a></li>
                        </ul>
                    </li><!-- 
                 --><li><a href="/shop/taxons">PRODUCTS</a>
                        <ul class="sub_menu">
                            <li><a href="/shop/taxons">Product Range</a></li>
                            <li><a href="/categories/10">Production Techniques</a></li>
                            <li><a href="/categories/11">Technical Specs</a></li>
                        </ul>
                    </li><!-- 
                 --><li><a href="/categories/4">RESOURCES</a>
                        <ul class="sub_menu">
                            <li><a href="/categories/4">Downloads</a></li>
                            <li><a href="/categories/5">On trade promos</a></li>
                            <li><a href="/categories/6">Off trade promos</a></li>
                            <li><a href="/categories/7">Press Releases</a></li>
                            <li><a href="/categories/8">Presentations</a></li>
                            <li><a href="/categories/9">Toolkits</a>
                            	<ul class="sub_menu">
                                    <li><a href="#">Downloads</a></li>
                                    <li><a href="#">On trade promos</a></li>
                                    <li><a href="#">Off trade promos</a></li>
                                    <li><a href="#">Press Releases</a></li>
                                    <li><a href="#">Presentations</a></li>
                                    <li><a href="#">Toolkits</a></li>                       
                                </ul>
                            </li>                       
                        </ul>
                    </li><!-- 
                 --><li><a href="/events">EVENTS</a>
                        <ul class="sub_menu">
                            <li><a href="/events">Events Diary</a></li>
                            <li><a href="/galleries">Events Gallery</a></li>
                        </ul>
                    </li><!-- 
                 --><li><a href="/shop/products">POS &amp; MERCHANDISE</a></li>
                </ul>
                <div class="clear"><!-- --></div>
            </nav>
        </div><!-- #navigation_red_background -->    
        </div><!-- #navigation_glow_background -->
