@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font: 12px Arial, Helvetica, sans-serif;
}

#container {
	display: block;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	min-width: 100%;
	width: auto !important;
	width: 100%;
}

.background {
	display: block;
	width: 100%;
	float: none;
	clear: both;
}

#header_grey_background {
	background: #ede9e8;
}

#header_gradient_background {
	background: url(../images/header-gradient-bg.png) no-repeat center bottom;
}

.header, .navigation, .content {
	display: block;
	margin: 0 auto;
	/*background: #666;
	background-image:url(../images/header-bg.png);*/
	width:100%;
}

.header {
	min-width:900px;
}

#navigation_red_background {
	background: #530500 url(../images/navigation_gradient.png) repeat-x left top;	
}

#navigation_glow_background {
	background: url(../images/navigation_glow.png) no-repeat center top;	
}

.navigation {
	/*background-image: url(../images/main_menu_bar.png);
	height:50px;*/
}

.content {
	height:800px;	
	width: 60%;
	min-width: 500px;
}

.logo {
	background-image: url(../images/logo.png);
	width: 161px;
	height: 56px;
	margin: 12px 10px 12px 50px;
}

.header_item {
	height: 56px;
	line-height: 56px;
	margin: 12px;
}

#tagline, #search_box {
	
}

#tagline {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
}

#top_menu {
}

.float_left {
	float: left;
	clear: none;
}

.float_right {
	float: right;
	clear: none;
}

ul#menu {
	height: 50px;
	padding:0;
    margin: 0;
	width: 100%;
	line-height: 50px;
	text-align: center;
}

ul#menu ul.sub-menu {
	padding:0;
    margin: 0;
	width: 100%;
	line-height: 40px;
	text-align: center;
}


#menu li, ul#menu ul.sub-menu li {
	list-style-type: none;
	display: inline-block;
}

ul#menu li a, ul#menu li ul.sub-menu li a {
	display: block;
	padding: 0 30px;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight: bold;
	text-decoration:none;
}

/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}

/*sub menu*/
ul#menu li ul.sub-menu {
	background: #7C1004;
    display:none;
	position: absolute;
    top: 50px;
    left: 0;
    width: 250px;
}

ul#menu li ul.sub-menu li {
    background: #7C1004;
	width: 250px;
	text-align:left;
}

ul#menu li:hover ul.sub-menu {
    display:block;
}

#menu a:hover, ul#menu ul.sub-menu li a:hover {
	text-decoration: underline;
}

.topnav_ul {
	height: 50px;
	overflow: hidden;
	width: 100%;
	line-height: 60px;
	text-align: center;
}

.topnav_ul li {
	display: inline-block;
}

.topnav_ul a {
	display: block;
	padding: 0 30px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #000;
}

.topnav_ul a:hover {
	text-decoration: underline;
}

.main {
	background-image:url(../images/header-bg.png);
	height: 100%;
}

.welcome_header, .welcome_text, .whats_new {
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	text-align:justify;
	margin: 25px 50px;
}

.welcome_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
}

#home_tabs {
	margin: 25px 50px;
	width: 60%;
	background: none;
	border: none;
	border-radius: 0px;
}

#tabs-1, #tabs-2, #tabs-3 {
	border: 1px solid #000;
}

.whats_new {
	font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
	/*font-family: "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black";*/
	font-size: 25px;
}

.ui-widget-header {
	background: none;
	border: none;
}

.ui-corner-top {
	border-radius:0px;
}

.ui-state-default a, .ui-state-active a, .ui-state-default a:link {
	font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
	color: #c51015;
	font-size: 20px; 
	text-transform:capitalize;
	background: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: none;
	border-color:#000;
}


.clear {
	width: 100%;
	height: 0;
	clear: both;
}

.ui-tabs-panel {
	border: 1px solid #000;
	border-radius:0px;	
}
