<div id="container">
    	<div class="background" id="header_grey_background">
        <div class="background" id="header_gradient_background">
        	<div class="header">
            	<div class="float_left">
                    <div class="logo float_left"></div>
                	<div id="tagline" class="header_item float_left">
                    	Please Enjoy Responsibly
                    </div>
                </div>
                <div class="float_right">
                	<div id="top_menu" class="header_item float_right">
                    	<ul class="topnav_ul">
							<li><a href="#">Help</a></li>
							<li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                	<div id="search_box" class="header_item float_right">
                    <form action="nada" method="get">
                    	<input type="text" name="dsearch" maxlength="80" />
	    				<input type="submit" value="search" />
					</form>
                    </div>
                </div>
                <div class="clear"><!-- --></div>
    		</div>
        </div><!-- #header_gradient_background -->    
        </div><!-- #header_grey_background -->
        
        <div class="background" id="navigation_red_background">
        <div class="background" id="navigation_glow_background">
      	  <div class="navigation">
          	<ul id="menu" class="float_left_clear_both">
        		<li><a href="/">HOME</a>
                </li>
				<li>
                	<a href="#">BRANDS</a>
                    <ul class="sub-menu">
			            <li>
			                <a href="#">Brand Education</a>
			            </li>
			            <li>
			                <a href="#">Brand Guidelines</a>
			            </li>
			            <li>
			                <a href="#">Brand History</a>
 			           </li>
			           <li>
			                <a href="#">Brand Team</a>
 			           </li>
			        </ul>
                </li>
				<li><a href="#">A&amp;P</a></li>
				<li><a href="#">PRODUCTS</a>
                	<ul class="sub-menu">
			            <li>
			                <a href="SomeWhere">Product Range</a>
			            </li>
			            <li>
			                <a href="#">Production Techniques</a>
			            </li>
			            <li>
			                <a href="#">Technical Specs</a>
 			           </li>
			        </ul>
                </li>
            	<li><a href="#">RESOURCES</a>
                	<ul class="sub-menu">
			            <li>
			                <a href="#">Downloads</a>
			            </li>
			            <li>
			                <a href="#">On trade promos</a>
			            </li>
			            <li>
			                <a href="#">Off trade promos</a>
 			           </li>
			           <li>
			                <a href="#">PR</a>
 			           </li>
                       <li>
			                <a href="#">Presentations</a>
 			           </li>
                       <li>
			                <a href="#">Toolkits</a>
 			           </li>                       
			        </ul>
                </li>
            	<li><a href="#">EVENTS</a>
                	<ul class="sub-menu">
			            <li>
			                <a href="#">Events Diary</a>
			            </li>
			            <li>
			                <a href="#">Events Gallery</a>
			            </li>
			        </ul>
                </li>
             	<li><a href="#">POS & MERCHANDISE</a></li>
             	 <li>A &amp; P
                        <ul class="sub_menu">
                            <li><a href="/promotions">Advertising and Promotion</a></li>
                        </ul>
                    </li>
        	</ul>
          </div>
        </div>
        </div>
